* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	color: black;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	margin-bottom: 1rem;
	
}

#new-task-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: 5px;
	outline: none;
	background: none;
}

#new-task-input {
    flex: 1 1 0%;
	padding: 1rem;
	color: #EEE; 
	background-color: #374151;
	font-size: 1.25rem;
}

#new-task-input::placeholder {
	color: #6B7280;
}

#new-task-submit {
	
	font-size: 1.25rem;
	font-weight: 700;
	cursor: pointer;
	transition: 0.4s;
}

#new-task-submit:hover {
	opacity: 0.8;
}

#new-task-submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color:#6B7280;
	padding: 1rem;
	border-radius: none;
	margin-bottom: 1rem;
}

.task .content .text {
	color: #EEE;
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: #EC4899;
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	transition: 0.4s;
}



